body {
    background: rgb(0, 255, 221);
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    color: red;
    font-family: fantasy;
    font-size: 60px;
    margin-left: 250px;
    margin-right: 250px;
}

p {
    font-size: 20px;
}

footer {
    margin-top: 500px;
}

head {
    background-image: href=("imagens/fundo.jpeg");
}